<li class="nav-item">
    <a href="{{ url_for('overview') }}" class="nav-link">
        <span class="fa fa-server"></span>
        <span class="menu-text">Overview</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('add') }}" class="nav-link">
        <span class="fa fa-plus"></span>
        <span class="menu-text">Add</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('remove') }}" class="nav-link">
        <span class="fa fa-trash"></span>
        <span class="menu-text">Remove</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('settings') }}" class="nav-link">
        <span class="fa fa-cog"></span>
        <span class="menu-text">Settings</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('statistics') }}" class="nav-link">
        <span class="fa fa-bar-chart"></span>
        <span class="menu-text">Statistics</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('logout') }}" class="nav-link">
        <span class="fa fa-sign-out"></span>
        <span class="menu-text">Logout</span>
    </a>
</li>
