{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {% if issues %}
            <div class="alert alert-warning">
                <p>
                    <strong>Issues</strong>
                    <br>
                    <br>
                    <ul>
                        {% for issue in issues %}
                        <li>{{issue}}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <strong>Login</strong>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="emailaddr">Email Address</label>
                            <input type="email" class="form-control" id="emailaddr" name="emailaddr" placeholder="email@domain.tld" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <a href="{{url_for('forgot')}}">Forgot your password?</a><br><br>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
