{% macro colour_status(perc) %}
{% if perc=='ENABLED' %}
<span class="text-success">{{perc}}</span>
{% else %}
<span class="text-danger">{{perc}}</span>
{% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <strong class="text-success">Enabled</strong>
                </div>
                <div class="card-body">
                {{enabled}}
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <strong class="text-danger">Requiring Attention</strong>
                </div>
                <div class="card-body">
                {{attention}}
                </div>
            </div>
        </div>
        {% if last_upd > 300 %}
        <div class="col-sm-12 col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <strong class="text-danger">Last Database Update</strong>
                </div>
                <div class="card-body">
                {{last_upd | secs_humanize}}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="overflow:auto;">
                <div class="card-header">
                    <strong>Node State</strong>
                </div>
                <table class="table table-sm table-striped" id="overview-tbl">
                    <thead class="text-center">
                        <tr>
                            <th>Label</th>
                            <th>PoSe Score</th>
                            <th>Status</th>
                            <th>IP Address</th>
                            <th>Last Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for node in nodes %}
                        <tr>
                            <td>{% if node.top_ten %}<strong>{% endif %}<a href="{{ url_for('node', nid=node.id) }}">{{ node.label }}</a>{% if node.top_ten %}</strong>{% endif %}</td>
                            <td>{{node.node_pose_score}}</td>
                            <td>{{ colour_status(node.node_status) }}</td>
                            <td>{{node.node_ip}}</td>
                            <td>{{node.node_last_paid_block}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
        $('#overview-tbl').DataTable({'paging': false, 'info': false, 'filter': false, 'responsive': true,});
});
</script>
{% endblock %}
